
.panel-3col-caravan { 
/*  overflow: hidden;  */
}

.panel-3col-caravan .panel-col-top,
.panel-3col-caravan .panel-col-bottom { 
  width: 100%; 
  clear: both;
}

.panel-3col-caravan .panel-col-top .inside {
  margin-bottom: .5em;
}

.panel-3col-caravan .center-wrapper{
  display: table;
  table-layout: fixed;
  width: 100%;	
}

.panel-3col-caravan .panel-col-first { 
  width: 195px;
  display: table-cell;
  table-layout: fixed;
  vertical-align: top;
}

.panel-3col-caravan .panel-col-first .inside { 
  margin: 0 .5em 1em .5em;
}

.panel-3col-caravan .panel-col { 
  display: table-cell;
  vertical-align: top;
}

.panel-3col-caravan .panel-col .inside { 
  margin: 0 .5em 1em .5em;
}

.panel-3col-caravan .panel-col-last { 
  width: 195px;
  display: table-cell;
  table-layout: fixed;
  vertical-align: top;
}

.panel-3col-caravan .panel-col-last .inside { 
  margin: 0 0 1em .5em;
}

.panel-3col-caravan .panel-separator {
  margin: 0 0 1em 0;
}

.panel-3col-caravan .panel-col-half{
	width: 50%;
	float: left;
	margin: 0px;
}