/* -------------------->>> COMMON <<<-------------------- */

body {
	background-image: -webkit-linear-gradient(top, #000000 0%, #005c8f 100%);
	background-image: -o-linear-gradient(top, #000000 0%, #005c8f 100%);
	background-image: linear-gradient(to bottom, #000000 0%, #005c8f 100%);
	background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000000', endColorstr='#ff005c8f', GradientType=0);
	background-size: auto 70%;
	background-color: #005c8f;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	color: #151515;
}
html {
	box-sizing: border-box;
	font-family: Arial, sans-serif;  
	font-size: 100%;
	font-weight: 400;
	line-height: 1.5;
}
*, *:after, *:before {
	box-sizing: inherit;
}
img {
	vertical-align: top;
}
a {
	color: #0057a8;
	text-decoration: none;
	outline: none;
}
a:hover {
	text-decoration: underline;
}
a:visited{
	color: #374448;
}
input, button, textarea, select {
	border-radius: 0;
	box-shadow: none;
	font-family: Arial, sans-serif;
}
a, input, button, textarea, select {
	transition-property: color, background-color;
	transition-duration: 0.25s;
	transition-timing-function: ease-out;
}
hr{
	color: #dbdbdb;
	border: none;
	-webkit-box-shadow: 1px 2px 2px 0px rgba(181,181,181,0.8);
	-moz-box-shadow: 1px 2px 2px 0px rgba(181,181,181,0.8);
	box-shadow: 1px 2px 2px 0px rgba(181,181,181,0.8);	
}
/* -------------------->>> WRAPPER <<<-------------------- */

.wrapper {
	position: relative;
	padding: 0px;
}
/* -------------------->>> CONTAINER <<<-------------------- */

.container {
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
	background: url('../images/wrapper_background.png') top left repeat-x #ffffff;
	-webkit-box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.5), -5px 0px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.5), -5px 0px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.5), -5px 0px 10px 0px rgba(0,0,0,0.5);
}



/* desktop */

@media (min-width: 768px) {
.container {
	max-width: 1005px;
}
}

/* mobile */

@media (max-width: 767px) {
.container {
	
	padding: 0px;
}
.node-type-event #content .field-type-image img{
	width:100%;
	height:auto;  
	
}
}
/* -------------------->>> SLIDER <<<-------------------- */

#flexslider-1 {
	background-repeat: repeat-x;
	background-image: -webkit-linear-gradient(127deg, #000f1a, #009ee0);
	background-image: -o-linear-gradient(127deg, #000f1a, #009ee0);
	background-image: linear-gradient(127deg, #000f1a, #009ee0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000f1a', endColorstr='#ff009ee0', GradientType=1);
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	height: 282px;
	-webkit-box-shadow: 4px 4px 8px 0px rgba(181,181,181,0.5), -4px -4px 8px 0px rgba(181,181,181,0.5);
	-moz-box-shadow: 4px 4px 8px 0px rgba(181,181,181,0.5), -4px -4px 8px 0px rgba(181,181,181,0.5);
	box-shadow: 4px 4px 8px 0px rgba(181,181,181,0.5), -4px -4px 8px 0px rgba(181,181,181,0.5);
}
#flexslider-1.flexslider .flex-direction-nav a {
	text-decoration: none;
	display: block;
	width: 26px;
	height: 26px;
	margin: -20px 0px 0px;
	position: absolute;
	top: 50%;
	z-index: 10;
	overflow: hidden;
	opacity: 1;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
	transition: none;
	background: url('../images/flex_nav_btns.png') no-repeat top left;
	text-indent: 100px;
}
#flexslider-1.flexslider .flex-direction-nav a::before {
	display: none;
}
#flexslider-1.flexslider .flex-direction-nav a.flex-prev:hover {
	background-position: -52px 0px;
}
#flexslider-1.flexslider .flex-direction-nav a.flex-next {
	background-position: -26px 0px;
}
#flexslider-1.flexslider .flex-direction-nav a.flex-next:hover {
	background-position: -78px 0px;
}
#flexslider-1.flexslider .flex-control-paging li a {
	width: 17px;
	height: 18px;
	background: url('../images/flex_nav_pager.png') no-repeat top left;
}
#flexslider-1.flexslider .flex-control-paging li a:hover, #flexslider-1.flexslider .flex-control-paging li a.flex-active {
	background-position: -17px;
}
#flexslider-1.flexslider {
	border: none;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	margin-bottom: 45px;
}
#flexslider-1 ul.slides li {
	height: 282px;
}
#flexslider-1.flexslider .slides .field-name-field-image img {
	width: auto;
	max-width: none;
	height: 278px;
	border-top-right-radius: 4px;
	right: 0px;
	position: absolute
}
#flexslider-1.flexslider .slides .field-name-field-image .field-item {
	position: relative;
	width: 100%;
	height: 278px;
}
#flexslider-1.flexslider .slides .field-name-field-image {
	position: absolute;
	right: 2px;
	top: 2px;
	width: 63%;
	max-width: 574px;
	overflow: hidden;
}
#flexslider-1.flexslider .slides li {
	position: relative;
}
#flexslider-1.flexslider .slides li .field-name-field-title {
	margin: 90px 0px 0px 50px;
	width: 270px;
	font-size: 22px;
	color: #ffffff;
	font-weight: bold;
}
#flexslider-1.flexslider .slides li .field-name-field-description {
	margin-left: 40px;
	font-size: 12px;
	width: 270px;
	color: #fff;
}
#flexslider-1.flexslider .slides li .field-name-field-link {
	margin-left: 40px;
	font-size: 12px;
	width: 270px;
	color: #fff;
}

#flexslider-1.flexslider .slides li .field-name-field-link a {
	color: #ffffff;
}
#flexslider-1.flexslider .flex-direction-nav {
	bottom: -30px;
	position: absolute;
	width: 100%;
}
#flexslider-1.flexslider .flex-control-nav{
	bottom: -30px;
}
@media (max-width: 1023px) {
#flexslider-1.flexslider .slides .field-name-field-image {
	width: 55%;	
}
#flexslider-1.flexslider .flex-direction-nav .flex-prev {
	left: 0px;
}
#flexslider-1.flexslider .flex-direction-nav .flex-next {
	right: 0px;
}
}

/* desktop */
@media (min-width: 1024px) {
#flexslider-1.flexslider .flex-direction-nav .flex-prev {
	left: 200px;
}
#flexslider-1.flexslider .flex-direction-nav .flex-next {
	right: 200px;
}
}

/* -------------------->>> PANES <<<-------------------- */

.pane-menu-menu-secondary .pane-content > ul {
	background: url('../images/secondary_menu_grad.png') top left repeat-x #003d5f;
	border: 1px solid #1a516f;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-box-shadow: 2px 2px 4px 0px rgba(181,181,181,0.5), -2px -2px 4px 0px rgba(181,181,181,0.5);
	-moz-box-shadow: 2px 2px 4px 0px rgba(181,181,181,0.5), -2px -2px 4px 0px rgba(181,181,181,0.5);
	box-shadow: 2px 2px 4px 0px rgba(181,181,181,0.5), -2px -2px 4px 0px rgba(181,181,181,0.5);
	margin: 0px;
	padding: 8px 0px 36px 0px;
}
.pane-menu-menu-secondary .pane-content > ul ul {
	padding: 0px;
	margin: 0px;
}
.pane-menu-menu-secondary .pane-content > ul ul li {
	padding-left: 11px;
	padding-right: 0px;
	margin: 0px;
	background: url('../images/left_menu_bullet_inner.png') 3px 7px no-repeat;
}
.pane-menu-menu-secondary .pane-content > ul > li {
	margin: 0px;
	padding: 4px 12px 8px 27px;
	line-height: 18px;
	background: url('../images/left_menu_bullet_collapsed.png') 7px 6px no-repeat;
	border-bottom: 1px solid #265e7f;
}
.pane-menu-menu-secondary .pane-content > ul > li.active-trail, .pane-menu-menu-secondary .pane-content > ul > li:hover {
	background-color: #0072b1 !important;
}
.pane-menu-menu-secondary .pane-content > ul > li.expanded {
	background: url('../images/left_menu_bullet_expanded.png') 7px 6px no-repeat;
}
.pane-menu-menu-secondary .pane-content > ul li {
	list-style-image: none;
	list-style: none;
}
.pane-menu-menu-secondary .pane-content > ul li a {
	color: #e3f5ff;
	font-size: 12px;
}
.panel-pane {
	background-image: -webkit-linear-gradient(top, #eceded 0%, #ffffff 100%);
	background-image: -o-linear-gradient(top, #eceded 0%, #ffffff 100%);
	background-image: linear-gradient(to bottom, #eceded 0%, #ffffff 100%);
	background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeceded', endColorstr='#ffffff', GradientType=0);
	background-color: #ffffff;
	background-size: auto 45px;
	border: 1px solid #ffffff;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(181,181,181,0.3), -2px -2px 2px 0px rgba(181,181,181,0.3);
	-moz-box-shadow: 2px 2px 2px 0px rgba(181,181,181,0.3), -2px -2px 2px 0px rgba(181,181,181,0.3);
	box-shadow: 2px 2px 2px 0px rgba(181,181,181,0.3), -2px -2px 2px 0px rgba(181,181,181,0.3);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.pane-node-content .pane-title{
	font-size: 26px;
}

.pane-fpid-1.panel-pane, .pane-menu-menu-secondary.panel-pane {
	border: none;
	background: none;
	box-shadow: none;
	border-radius: none;
}
.pane-fpid-1.panel-pane .pane-content, .pane-menu-menu-secondary.panel-pane .pane-content {
	padding: 0px;
}
.fieldable-panels-pane .field-name-field-description {
	padding: 10px 9px 0px 9px;
	font-size: 12px;
}
.fieldable-panels-pane .field-name-field-description p{
	margin: 5px 0px;	
}
.fieldable-panels-pane .field-name-field-link {
	padding: 0px 10px 10px 10px;
	font-size: 12px;
}

.panel-pane.pane-node .pane-content,
.panel-pane.pane-node-content .pane-content{
	padding: 0px 30px 10px 30px;
}

.pane-views-events-block-1 .views-field-title{
	padding: 0px 10px;
}
.pane-views-events-block-1 .views-field-title a{
    background: url('../images/left_menu_bullet_collapsed.png') 0px 0px no-repeat;
	padding-left: 20px;
}
.pane-views-events-block-1 .views-field-field-date{
	padding: 0px 10px;	
}
.pane-views-events-block-1 .pane-title{
	padding: 0px 10px;
	font-size: 16px;
}

.panel-pane.pane-node .pane-title,
.panel-pane.pane-node-content .pane-title{
	padding: 0px 30px;
}
.pane-content input, .pane-content textarea {
	width: 100%;
}

.field-name-field-description h2 {
	margin: 0px;
	font-size: 16px;
}
.panel-pane.panel-webform {
	background: none;
	border: none;
	box-shadow: none;
	filter: none;
}
.panel-pane .form-actions {
	text-align: right;
}
.panel-pane input, .panel-pane textarea {
	background: #fcfcfc;
	border-radius: 4px;
	border-bottom: 1px solid #fafafa;
	border-right: 1px solid #fafafa;
	border-top: 1px solid #e7e7e7;
	border-left: 1px solid #e7e7e7;
	line-height: 25px;
	min-height: 25px;
	font-size: 11px;
	color: #b0b0b0;
	padding-left: 10px;
}
.panel-webform .pane-title {
	font-size: 16px;
	padding-left: 10px;
}
.panel-pane label {
	font-size: 11px;
	padding-left: 10px;
	color: #151515;
	font-style: normal;
}
.panel-pane label .form-required{
	display: none;
}
.panel-pane input.form-submit {
	border: none;
	padding: 8px 16px 10px 16px;
	background-image: -webkit-linear-gradient(top, rgba(0,138,216, 1) 0%, rgba(0,13,20, 1) 100%);
	background-image: -o-linear-gradient(top, rgba(0,138,216, 1) 0%, rgba(0,13,20, 1) 100%);
	background-image: linear-gradient(to bottom, rgba(0,138,216, 1) 0%, rgba(0,13,20, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff008ad8', endColorstr='#ff000d14', GradientType=0 );
	color: #ffffff;
	border-radius: 4px;
	font-weight: bold;
	width: auto;
	padding: 0px 25px;
	line-height: 28px;
}
.pane-content img {
	max-width: 100%;
	height: auto;
}

.panel-pane .field-name-field-link a{
    background: url('../images/left_menu_bullet_collapsed.png') 0px 0px no-repeat;
	padding-left: 20px;
	line-height: 16px;		
}

.panel-pane .submitted{
	display: none;	
}

/* desktop */
@media (min-width: 768px) {
.panel-pane {
	min-height: 220px;
}
.panel-col-first .panel-pane.pane-menu-menu-top{
	display: none;	
}

}

/* mobile */
@media (max-width: 767px) {

.pane-menu-menu-secondary .pane-content > ul {
	background: #003d5f;
	border-radius: 0;
	padding: 0px;
	border: none;
	box-shadow: none;
}

.pane-menu-menu-secondary .pane-content > ul > li.active-trail, 
.pane-menu-menu-secondary .pane-content > ul > li:hover{
	background-color: transparent !important;
}

.pane-menu-menu-secondary .pane-content > ul > li:last-child{
	border-bottom: none;	
}

.panel-panel,
.panel-col-half{
	display: block !important;
	width: 100% !important;
	clear: both;
}

.panel-col-top.panel-panel{
	display: none !important;	
}

.panel-3col-caravan .panel-col-first .inside{
	margin: 0px;	
}

.panel-pane{

}

.panel-pane.pane-node .pane-content,
.panel-webform .pane-content{
	padding: 0px 5px;	
}

.panel-3col-caravan .panel-col .inside,
.panel-3col-caravan .panel-col-last .inside{
	margin: 0px;
	padding: 0px;	
}

.panel-pane img{
	width: 100%;
	max-width: 100%;
	display: block;
}

.panel-pane.pane-node-content .pane-title,
.panel-pane.pane-node .pane-title{
	display: none;	
}

.panel-col-first .panel-pane.pane-menu-menu-top{
	background: none;
	border: none;
	box-shadow: none;
}

.panel-col-first .panel-pane.pane-menu-menu-top ul{
	padding: 0px 0px 0px 15px;	
}

.panel-col-first .panel-pane.pane-menu-menu-top ul li{
	padding: 0px;
	list-style: none;
	margin:none;
}

.panel-col-first .panel-pane.pane-menu-menu-top ul li a{
    color: #425156;
	font-size: 12px;
	font-weight: bold;
}
.commerce-line-item-views-form table tr td{
	padding:2px;
	font-size:11px;
}
.commerce-line-item-views-form table tr th{
	font-size:11px;
	text-align:center;
	
}

#commerce-checkout-form-checkout table tr td{
	padding:2px;
	font-size:11px;
}
#commerce-checkout-form-checkout table tr th{
	font-size:11px;
	text-align:center;
	
}
}
/* -------------------->>> HEADER <<<-------------------- */

.header {
	position: relative;
	z-index: 10;
	padding-top: 19px;
}
.header-logo {
	width: 160px;
	margin-top: 12px;
	margin-left: 22px;
	float: left;
}

#block-menu-menu-top{
	float: right;	
}

#block-menu-menu-top ul.menu{
	margin: 0px;
	padding: 0px;	
}

#block-menu-menu-top ul.menu li{
	line-height: 32px;
	display: inline;
	list-style: none;	
}

#block-menu-menu-top ul.menu li a{
	color: #425156;
	font-weight: bold;
	margin-right: 12px;
}

#block-commerce-cart-cart {
	width: 120px;
	float: right;
}
#block-commerce-cart-cart h2 {
	width: 120px;
	padding-right: 32px;
	font-size: 12px;
	color: #425156;
	font-weight: bold;
	background: url('../images/shopping_cart_icon.png') top right no-repeat;
	line-height: 32px;
	margin: 0px;
}
#block-commerce-cart-cart .content {
	width: 120px;
	padding-right: 32px;
	font-size: 11px;
	line-height: 14px;
	color: #007ec4;
	height: 50px;
	background: none;
}
#block-commerce-cart-cart .content tbody {
	border: none;
}
#block-commerce-cart-cart .content tr.even, #block-commerce-cart-cart .content tr.odd {
	background: none;
	border: none;
}
#block-locale-language {
	width: 100px;
	float: right;
}
#block-locale-language h2 {
	padding-right: 20px;
	font-size: 12px;
	color: #425156;
	font-weight: bold;
	background: url('../images/drop_down.png') 80px 0px no-repeat;
	line-height: 32px;
	margin: 0px;
}
#block-locale-language:hover h2 {
	background: url('../images/drop_down_h.png') 80px 0px no-repeat;
	color: #0085d0;
}

#block-locale-language .content{
	border: 1px solid rgba(214,214,214, 1);
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	overflow: hidden;
	-webkit-box-shadow: 2px 2px 4px 0px rgba(181,181,181,0.3), -2px -2px 4px 0px rgba(181,181,181,0.3);
	-moz-box-shadow: 2px 2px 4px 0px rgba(181,181,181,0.3), -2px -2px 4px 0px rgba(181,181,181,0.3);
	box-shadow: 2px 2px 4px 0px rgba(181,181,181,0.3), -2px -2px 4px 0px rgba(181,181,181,0.3);
	width: 110px;
	position: absolute;
	top: 30px;
	left: 0px;
	display: none;
}

#block-locale-language .content ul {
	margin: 0px;
	padding: 0px;
	padding-left: 6px;
	background-image: -webkit-linear-gradient(top, rgba(227,227,227, 1) 0%, rgba(255,255,255, 1) 100%);
	background-image: -o-linear-gradient(top, rgba(227,227,227, 1) 0%, rgba(255,255,255, 1) 100%);
	background-image: linear-gradient(to bottom, rgba(227,227,227, 1) 0%, rgba(255,255,255, 1) 100%);
	background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe3e3e3', endColorstr='#ffffffff', GradientType=0);
	font-size: 12px;
	color: #425156;
	margin: 0px;
	width: 110px;
}
#block-locale-language:hover .content {
	display: block;
}
#block-locale-language{
	position: relative;
}
#block-locale-language .content ul > li {
	list-style: none;
	line-height: 20px;
}
#block-locale-language .content ul > li > a {
	font-size: 12px;
	line-height: 20px;
	color: #425156;
}
#block-locale-language .content ul > li > a:hover, #block-locale-language .content ul > li > a.active {
	font-size: 12px;
	color: #008ad8;
	text-decoration: underline;
}

/* mobile */
@media (max-width: 767px) {
	.header-logo{
		float: none;
		clear: both;	
	}
	
	#block-commerce-cart-cart{
		width: 37px;	
	}
	
	#block-commerce-cart-cart > h2{
		width: 	32px;
		height: 32px;
		overflow: hidden;
		text-indent: 100px;
	}
	
	#block-commerce-cart-cart .content{
		display: none;	
	}
	
	#block-menu-menu-top{
		display: none;	
	}
}

/* -------------------->>> NAV <<<-------------------- */

nav {
	clear: both;
	height: 32px;
}
nav ul.menu {
	margin: 0px;
	text-align: right;
}
nav ul.menu > li {
	display: inline-block;
	padding: 0px;
	margin: 0px;
	border: 1px solid rgba(214,214,214, 0.5);
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	overflow: hidden;
}

nav ul.menu > li:hover,
nav ul.menu > li.active-trail {
	border: none;
}

nav ul.menu > li > a {
	line-height: 14px;
	padding: 7px 15px 9px 15px;
	background-image: -webkit-linear-gradient(top, rgba(255,255,255, 0.5) 0%, rgba(227,227,227, 0.5) 100%);
	background-image: -o-linear-gradient(top, rgba(255,255,255, 0.5) 0%, rgba(227,227,227, 0.5) 100%);
	background-image: linear-gradient(to bottom, rgba(255,255,255, 0.5) 0%, rgba(227,227,227, 0.5) 100%);
	background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe3e3e3', GradientType=0);
	font-size: 12px;
	color: #425156;
	margin: 0px;
	display: inline-block;
}
nav ul.menu > li:hover > a,
nav ul.menu > li.active-trail > a  {
	border: none;
	padding: 8px 16px 10px 16px;
	background-image: -webkit-linear-gradient(top, rgba(0,138,216, 1) 0%, rgba(0,13,20, 1) 100%);
	background-image: -o-linear-gradient(top, rgba(0,138,216, 1) 0%, rgba(0,13,20, 1) 100%);
	background-image: linear-gradient(to bottom, rgba(0,138,216, 1) 0%, rgba(0,13,20, 1) 100%);	
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff008ad8', endColorstr='#ff000d14', GradientType=0);
	color: #ffffff;
}

nav .block-menu > h2{
	line-height: 14px;
	padding: 7px 15px 9px 15px;
	border: 1px solid rgba(214,214,214, 0.5);
	border-bottom: none;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	background: #ffffff;
	font-size: 12px;
	color: #425156;
	display: inline-block;
	margin: 0px 0px 0px 1px;
}

/* desktop */
@media (min-width: 768px) {
nav .block-menu > h2{
	display: none;	
}
}

/* mobile */
@media (max-width: 767px) {
	nav{
		height: auto;	
	}
	nav .block-menu .content{
		border: 1px solid #d6d6d6;
		border-bottom: none;
	}
	nav ul.menu{
		margin: 0px;
		padding: 0px;
		display: block;
	}
	nav ul.menu > li,
	nav ul.menu > li:hover{
		display: block;
		border: none;
		border-radius: 0px;
		box-shadow: none;
	}
	nav ul.menu li a{
		display: block;
		width: 100%;
		margin:0px;
		background: none;
		filter: none;
	}
	nav ul.menu li:hover a,
	nav ul.menu li.active-trail a{
		padding: 7px 15px 9px 15px;
	}
	nav ul.menu {
	    margin: 0px;
	    text-align: left;
    }
	
}

/* -------------------->>> FOOTER <<<-------------------- */

.region-footer {
	padding: 0px 15px;
	max-width: 970px;
	margin: 0px auto;
}
#block-menu-menu-footer ul {
	padding: 0px;
	margin: 10px 0px;
	text-align: center;
}
#block-menu-menu-footer ul li {
	display: inline;
	list-style: none;
	color: #f8f8f8;
	font-size: 11px;
	padding: 0px;
	margin: 0px;
	line-height: 20px;
	opacity: 0.5;
}
#block-menu-menu-footer ul li:first-child::before {
	content: '';
}
#block-menu-menu-footer ul li::before {
	content: '·';
	margin: 0px 8px 0px 5px;
}
#block-menu-menu-footer ul li a {
	color: #f8f8f8;
}

/* mobile */
@media (max-width: 767px) {
	footer{
		display: none;	
	}
}
/* -------------------->>> BREADCRUMBS <<<-------------------- */

#breadcrumbs {
	background-image: -webkit-linear-gradient(top, #002032 0%, #005c8f 100%);
	background-image: -o-linear-gradient(top, #002032 0%, #005c8f 100%);
	background-image: linear-gradient(to bottom, #002032 0%, #005c8f 100%);
	background-repeat: repeat-x;
	color: #ffffff;
	font-size: 11px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000000', endColorstr='#ff005c8f', GradientType=0);
	height: 38px;
	line-height: 38px;
	margin: 0px -14px 25px -14px;
	padding: 0px 25px;
	position: relative;
}
#breadcrumbs .print_icon {
	position: absolute;
	right: 119px;
	color: #ffffff;
}
#breadcrumbs .print_icon img {
	vertical-align: middle;
}

/* mobile */
@media (max-width: 767px) {
	
	#breadcrumbs{
		display: none;	
	}
	
	
}

/* -------------------->>> EVENTS <<<-------------------- */

.view-id-events.view-display-id-block_1 .views-field-title{
	font-size: 12px;
}

.view-id-events.view-display-id-block_1 .views-row{
	margin: 20px 0px;	
}

/* -------------------->>> CART <<<-------------------- */

.commerce-line-item-views-form input.form-submit{
	border: none;
	padding: 8px 16px 10px 16px;
	background-image: -webkit-linear-gradient(top, rgba(0,138,216, 1) 0%, rgba(0,13,20, 1) 100%);
	background-image: -o-linear-gradient(top, rgba(0,138,216, 1) 0%, rgba(0,13,20, 1) 100%);
	background-image: linear-gradient(to bottom, rgba(0,138,216, 1) 0%, rgba(0,13,20, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff008ad8', endColorstr='#ff000d14', GradientType=0 );
	color: #ffffff;
	border-radius: 4px;
	font-weight: bold;
	width: auto;
	padding: 0px 25px;
	line-height: 28px;
	margin-right:10px;
	margin-bottom:10px;
}
.commerce-line-item-views-form input.form-submit.delete-line-item{
		margin-bottom:0px; 
}
.commerce-line-item-views-form .line-item-total .line-item-total-label{
	font-size:14px;
}
.commerce-line-item-views-form .line-item-total .line-item-total-raw{
	font-size:16px;
}
.commerce-line-item-views-form table{
	width:100%;
}
.commerce-line-item-views-form table tr td{
	padding:10px 0px;
	font-size:16px;
	vertical-align:middle;
	text-align:center;
}
.commerce-line-item-views-form table tr th{
	font-size:16px;
	text-align:center;
	padding:10px 0px;
	
}
tr.even, tr.odd{
	background-color:#f8f8f8;
}
#commerce-checkout-form-checkout tr.even, tr.odd{
	background-color:#f8f8f8;
}
#commerce-checkout-form-checkout table{
	width:100%;
}
#commerce-checkout-form-checkout table tr td{
	padding:10px 0px;
	font-size:16px;
	vertical-align:middle;
	text-align:center;
}
#commerce-checkout-form-checkout table tr th{
	font-size:16px;
	text-align:center;
	padding:10px 0px;
	
}
#commerce-checkout-form-checkout #edit-continue.form-submit{
	border: none;
	padding: 8px 16px 10px 16px;
	background-image: -webkit-linear-gradient(top, rgba(0,138,216, 1) 0%, rgba(0,13,20, 1) 100%);
	background-image: -o-linear-gradient(top, rgba(0,138,216, 1) 0%, rgba(0,13,20, 1) 100%);
	background-image: linear-gradient(to bottom, rgba(0,138,216, 1) 0%, rgba(0,13,20, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff008ad8', endColorstr='#ff000d14', GradientType=0 );
	color: #ffffff;
	border-radius: 4px;
	font-weight: bold;
	width: auto;
	padding: 0px 25px;
	line-height: 28px;
	margin-right:10px;
	margin-bottom:10px;
}
#commerce-checkout-form-checkout input.form-text, #commerce-checkout-form-checkout select{
	background: #fcfcfc none repeat scroll 0 0;
    border-color: #e7e7e7 #fafafa #fafafa #e7e7e7;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    color: #b0b0b0;
    font-size: 11px;
    line-height: 25px;
    min-height: 25px;
    padding-left: 10px;
}
#commerce-checkout-form-checkout select{
	padding-top:4px;
}